p {
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
